chromadb==1.0.15
clip==1.0
fastapi==0.116.1
ffmpeg_python==0.2.0
fitz==0.0.1.dev2
jsonschema==4.25.0
numpy==2.3.2
ollama==0.5.1
openai_whisper==20240930
opencv_python==4.10.0.84
opencv_python_headless==4.12.0.88
Pillow==11.3.0
pydantic==2.11.7
pytubefix==9.1.1
scikit_learn==1.7.1
sentence_transformers==4.1.0
torch==2.7.1
torchvision==0.22.1
transformers==4.52.4
