python-multipart
chromadb
openai-clip
fastapi
ffmpeg-python
pymupdf
jsonschema
numpy
ollama
openai_whisper
opencv_python
opencv_python_headless
Pillow
pydantic
pytubefix
scikit_learn
sentence_transformers
torch
torchvision
transformers
